:root {
  --background-color: #f1f5f8;
  --text-color: #414d55;
  --sidebar-bg-color: #f1f5f8;
  --sidebar-color: #ffffff;
  --header-bg-color: #f1f5f8;
  --header-text-color: #414d55;
  --profile-bg-color: #bcbcbc;
  --toggle-bg-color: #ccc;
  --toggle-checked-bg-color: #66d9ef;
  --toggle-thumb-color: #fff;
  --link-color: #414d55;
  --link-hover-color: #66d9ef;
  --onboard-bg-color: #e6e6e6;
  --onboard-text-color: #004bb4;
  --patient-bg-color: #ffffff;
  --dashboard-bg-color: #ffffff;
  --doctor-bg-color: #e5e9f2;
}

[data-theme="dark"] {
  --background-color: #001b30;
  --text-color: white;
  --sidebar-bg-color: #001b30;
  --sidebar-color: #ffffff;
  --header-bg-color: #001b30;
  --header-text-color: white;
  --profile-bg-color: #414d55;
  --toggle-bg-color: #333;
  --toggle-checked-bg-color: #66d9ef;
  --toggle-thumb-color: #414d55;
  --link-color: #66d9ef;
  --link-hover-color: #0096ff;
  --onboard-bg-color: #001b30;
  --onboard-text-color: #ffffff;
  --patient-bg-color: #001b30;
  --dashboard-bg-color: #001b3;
  --doctor-bg-color: #001b30;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

img {
  max-width: 100%;
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-color);
  padding: 10px 30px;
  max-width: 200px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
}

.profile-img {
  background-color: var(--profile-bg-color);
}

.toggle-slider {
  background-color: var(--toggle-bg-color);
}

input[type="checkbox"]:checked + .toggle-slider {
  background-color: var(--toggle-checked-bg-color);
}

input[type="checkbox"]:checked + .toggle-slider:before {
  background-color: var(--toggle-thumb-color);
}

.main {
  display: flex;
  margin-bottom: 20px;
}

.sidebar {
  padding: 10px 20px;
  max-width: 200px;
}

.navbar p {
  font-size: 1.8rem;
}

.help {
  display: flex;
  padding: 20px 0;
  font-size: 1.2rem;
  gap: 20px;
  align-items: center;
}

.help i {
  color: var(--text-color);
  padding: 7px 9px;
  border-radius: 8px;
  background-color: var(--background-color);
}

.help > p {
  font-weight: 600;
  color: var(--text-color);
}

.links > ul {
  list-style: none;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 25px 0;
  color: var(--text-color);
}

.home-container {
  padding: 30px 20px;
}

.bell-icon {
  background-color: var(--header-bg-color);
  padding: 6px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px #cbcbcb;
}

.name {
  color: var(--text-color);
}

.patient-list {
  margin: 20px 0;
}

.patient-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.toggle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.toggle-button {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
}

.toggle-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--toggle-bg-color);
  border-radius: 18px;
  transition: 0.4s;
  cursor: pointer;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background-color: var(--toggle-thumb-color);
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.4s;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .toggle-slider {
  background-color: var(--toggle-checked-bg-color);
}

input[type="checkbox"]:checked + .toggle-slider:before {
  transform: translateX(14px);
}

.patient-menu {
  display: flex;
  gap: 30px;
}

.patient-menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.patient-menu-item input {
  accent-color: black;
  width: 60px;
}

.patient-body {
  background-color: var(--patient-bg-color);
  padding: 10px 0;
  border-radius: 10px;
}

.patient-filter .gender button {
  background-color: var(--patient-bg-color);
  color: var(--onboard-text-color);
  border: none;
  padding: 10px 15px;
  margin: 0 10px;
  width: 80px;
  box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.368);
  border-radius: 8px;
}

.patient-filter .gender-filter {
  display: flex;
  justify-content: space-between;
}

.patient-filter .gender-filter .onboard {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
}

.patient-filter .gender-filter .onboard button {
  background-color: var(--onboard-bg-color);
  color: var(--onboard-text-color);
  border: 1px solid white;
  padding: 10px;
  border-radius: 8px;
}

.patient-filter .gender-filter .onboard p {
  display: flex;
  align-items: center;
}

.alphabet-filter {
  margin: 20px 5px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  background-color: var(--background-color);
  border-radius: 8px;
}

.alphabet-filter span {
  color: var(--text-color);
  background-color: var(--patient-bg-color);
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.267);
}

.patient-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 30px;
  box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.267);
  border-radius: 8px;
}

.patient-card img {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.patient-name {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  color: var(--text-color);
}

.patient-card .btns {
  color: var(--link-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.patient-card .btn {
  box-shadow: 0px 0px 1px 1px #e0e0e0;
  padding: 8px 12px;
  border-radius: 100%;
}

.patient-card .case-btn {
  box-shadow: 0px 0px 1px 1px #e0e0e0;
  padding: 8px 12px;
  border-radius: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.search-component {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px;
  background-color: var(--background-color);
  border-radius: 8px;
}

.search-component input[type="text"],
.search-component select {
  background-color: var(--background-color);
  color: var(--text-color);
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.search-component input[type="text"] {
  flex: 1;
}

.search-component p {
  margin: 0;
}

.search-component img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.search-component .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.name {
  flex: 1;
  text-align: right;
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 100vw;
  }
  .search-component {
    flex-direction: column;
  }

  .search-component input[type="text"],
  .search-component select {
    flex: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .name {
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .sidebar {
    max-width: 180px;
  }
}

@media screen and (max-width: 992px) {
  .sidebar {
    max-width: 160px;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    max-width: 140px;
  }

  .patient-card {
    padding: 20px;
  }

  .search-component input {
    flex: none;
  }
}

@media screen and (max-width: 576px) {
  .sidebar {
    max-width: 100vw;
  }
  .main {
    flex-wrap: wrap;
  }
  .search-component input {
    width: 100%;
    max-width: unset;
  }

  .search-component select {
    width: 100%;
    max-width: unset;
  }

  .alphabet-filter {
    overflow-x: scroll;
  }

  .alphabet-filter span {
    padding: 8px 12px;
  }
}

/* project 2 */

.sidebar-two {
  background-color: var(--dashboard-bg-color);
  color: var(--text-color);
  border-radius: 5px;
  min-width: 200px;
}

.dashboard-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: 1.3rem;
  color: var(--text-color);
}

.dashboard-logo span {
  color: rgb(0, 0, 180);
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  color: var(--text-color);
}

.profile .profile-icon {
  text-align: center;
}

.profile .profile-img {
  height: 100px;
  width: 100px;
  background-color: #bcbcbc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.profile span {
  font-size: 14px;
}

.sidebar-two .links {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  color: #858585;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ;
  gap: 30px;
}
.header input {
  flex: 1;
  border: none;
  padding: 12px 16px;
  background-color: var(--dashboard-bg-color);
  box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.267);

}

.header p {
  padding: 8px 12px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 1px rgb(198, 198, 198);
  background-color: var(--dashboard-bg-color);
  box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.267);
}

.body-chart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  gap: 20px;
}

.part-card {
  background-color: var(--dashboard-bg-color);
  color: var(--);
  padding: 18px;
  width: 150px;
  border-radius: 8px;
  box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.267);
}

.part-card .icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.part-card .icon .logo {
  border: 1px solid #078bff;
  padding: 8px 12px;
  border-radius: 150px;
  font-size: 1.4rem;
}

.chart {
  background-color: var(--dashboard-bg-color);
  color: var(--text-color);
  box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.267);
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

.chart-component {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: start;
}

.side-chart {
  display: flex;
  flex-wrap: wrap;
}

.calender {
  background-color: white;
  margin: 10px 0;
  border-radius: 8px;
}

.doctor-card {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var( --doctor-bg-color);
  box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.267);
  border-radius: 5px;
  margin: 20px 0;
  line-height: 1.5;
}
.doctor-card .icon {
  background-color: var( --doctor-bg-color);
  padding: 10px;
  border-radius: 8px;
}

@media screen and (max-width: 600px) {
  .chart-component,
  .side-chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1000px) {
  .chart-component,
  .side-chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
